collab-webapp/target
*.swp
javampd/target
*/target/
collab-webapp/.classpath
collab-webapp/.project
collab-webapp/.settings/org.eclipse.jdt.core.prefs
collab-webapp/.settings/org.eclipse.m2e.core.prefs